<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciarasouthgate.wizardscorekeeper"
    android:versionCode="2"
    android:versionName="1.01">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wizardlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wizardlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Final"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PlayerSetup"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Bids"
            android:screenOrientation="portrait" />
        <activity android:name=".Tricks"
            android:screenOrientation="portrait" />
    </application>

</manifest>