<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciarasouthgate.wizardscorekeeper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wizard_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wizard_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactDev" />
        <activity android:name=".AlternateRules" />
        <activity
            android:name=".Final"
            android:screenOrientation="portrait" />
        <activity android:name=".GameSetup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Bids"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tricks"
            android:screenOrientation="portrait" />
    </application>

</manifest>